.container {
  width: 100%;
  min-width: 320px;
  background-color: #161618;
  padding: 1rem;
  border-radius: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;
}

.headerText {
  font-size: 0.9rem;
}

.footer {
  margin-top: 1rem;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1400px;
  }
}
