.container {
  width: 100%;
  min-width: 320px;
  background-color: #161618;
  padding: 1rem;
  border-radius: 0.5rem;
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1400px;
  }
}
