.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  background-color: #3b3b3b;
  border-radius: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.submitButton {
  font-size: 0.75rem;
  background-color: #22226e;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.submitButton:hover {
  background-color: hsl(240, 53%, 20%);
}

.submitButton:active {
  background-color: hsl(240, 53%, 16%);
}
